---
layout: default
---
<article class="post">

    <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content">
        {{ content }}
    </div>

    <aside>
        {% assign chapters = site.chapters | sort: "order" %}

        {% for chapter in chapters %}
        {% if chapter.url == page.url %}
        {% assign current_index = forloop.index0 %}
        {% endif %}
        {% endfor %}

        {% assign next_index = current_index | plus: 1 %}
        {% assign prev_index = current_index | minus: 1 %}

        <ul class="chapter-navigation">
            {% if next_index < chapters.size %} <li>
                Next: <a href="{{ chapters[next_index].url }}">{{ chapters[next_index].title | escape }}</a>
                </li>
                {% endif %}

                {% if prev_index >= 0 %}
                <li>
                    Previous: <a href="{{ chapters[prev_index].url }}">{{ chapters[prev_index].title | escape }}</a>
                </li>
                {% endif %}

                <li>
                    <a href="{{ "/" | relative_url }}">Back to {{ site.book.title | escape }}</a>
                </li>
                </ol>

    </aside>

</article>