---
layout: default
---

{% assign sections = site.sections | split: ", " %}

<div class="home">
    
    <h1 class="page-heading">Table of contents</h1>
    
    {{ content }}
    
    {% for section in (1..sections.size) %}

    {% assign sectionIndex = section | minus: 1 %}
    <h2>{{ sections[sectionIndex] }}</h2>

    <ul class="chapter-list">
        
        {% for chapter in site.chapters %}
        {% if chapter.section == section %}
        <li>
            <a class="chapter-link" href="{{ chapter.url }}">{{ chapter.title }}</a>
        </li>
        {% endif %}
        {% endfor %}

    </ul>

    {% endfor %}

    </div>
